{% extends 'base.html'%}
{% block content %}
<h1>Post</h1>
<ul>
{% for post in object_list %}
   <li><a href="{% url 'article-details' post.pk %}">
      {{post.title}}</a> 
      - {{post.author}}
      - {{post.category}} 
      - on {{ post.post_date }} 
      
      {% if user.is_authenticated %}
      - 
      <small>
         <a href="{% url 'update_post' post.pk %}">(Edit)</a> . 
         <a href="{% url 'delete_post' post.pk %}">(delete)</a>
      </small><br/>
      {% endif %}
      {{post.body|slice:":200"|safe}}
   </li>
{% endfor %}
</ul>

{% endblock %}